<span ng-bind="raceStateView.throttle" ng-show="!raceStateView.throttleError"></span>
<span ng-show="raceStateView.throttleError">Error</span>
<div>
    <input type="range" min="0" max="100" value="0" orient="vertical" class="throttle" ng-model="raceStateView.throttle">
    <input type="button" value="Stop" ng-click="raceStateView.stop()"></input>
    <h3 class="light">Sensor: {{raceStateView.sensorValue}}</h3>
</div>
<span ng-bind="raceStateView.actualThrottle"></span>
<button ng-repeat="resource in raceStateView.resources track by $index" ng-model="raceStateView.resources[$index]" ng-click="raceStateView.fireSpecialWeapon(resource.id)">{{resource.name}}</button>
<select ng-model="raceStateView.targetChannel" ng-options="c for c in raceStateView.targetChannels" required></select>